<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Tableau Blanc</title>
        
        <!-- The stylesheets -->
        <link rel="stylesheet" href="../css/styles_canvas.css" />
        
        <!--[if lt IE 9]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    
    <body>
		<div id="cursors">
	    	<!-- The mouse pointers will be created here -->
		</div>

		
		<div id="admin">
		<img id="icon-help" src="../images/help.svg" alt="Help" />	
		<img id="icon-refresh" src="../images/refresh.svg" alt="refresh" />
		<img id="icon-picture" src="../images/picture.svg" alt="picture" />
		<img id="icon-color" src="../images/color.svg" alt="color" />

		<input class="color" value="000000">
		
       
		<hgroup id="instructions">		
			<h1>Dessinez vos explications</h1>
			<h2>Toutes personnes connectées les verront</h2>
			<h3>Astuce : si la page devient illisible, rechargez la</h3>
		</hgroup>
		</div>
		<canvas id="paper" width="1900" height="1000">
			Your browser needs to support canvas for this to work!
		</canvas>
        <!-- JavaScript includes. Notice that socket.io.js is served by node.js -->
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="../js/jscolor.js"></script>
		<script src="../js/jquery.min.js"></script>
		<script src="../js/canvas.js"></script>
        
    </body>
</html>