body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#pseudo {
   color: #A52A2A;
   font-size: 24px;
   text-align: center;
}

.msg-emis {
    font-weight: bold;
}

.msg-bubble {
  border-radius: 8px;
  width: 50%;
  padding: 5px 10px;
  word-wrap: break-word;
  margin: 5px 0;
}

.destinataire {
  background-color: #c7c7cc;
}

.emetteur {
  background-color: #0bd318;
  color: white;
  float: right;
}

.users {
   border: 1px solid;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

#BlocChat1 {
    background-color: #EFEFEF;
    border: 2px solid #808080;
    border-radius: 28px;
    width: 400px;
}

#messageChat {
    background-color: #ECECEC;
    margin-left: 5px;
    margin-top: 12px;
    overflow: auto;
    padding: 0 10px;
    height: 290px;
}

#zone_texte_Chat {
    margin-left: 5px;
    width: 384px;
}
